@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: #161513;
  height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  background-color: #222;
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.1);
}

.navbar img {
  width: 100px;
  height: 100px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-right: 25px;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: rgba(154, 51, 255, 1);
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.avatar {
  position: relative;
}

.avatar img {
  margin-top: 50%;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: linear-gradient(138deg, #ff8660 0%, #8000ff 99%), url(assets/Me.png);
  background-size: cover;
}

.dictated {
  color: white;
  font-size: 40px;
  line-height: 65px;
  font-weight: 800;
  text-align: center;
}

.dictated p {
  color: white;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

#home span {
  color: rgba(154, 51, 255, 1);
}

.about {
  width: 50%;
  height: auto;
}

.about p {
  text-align: center;
  color: #C5C5C5;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.languagesIcons h2 {
  margin-top: 5%;
  text-transform: uppercase;
  font-weight: 600;
  color: #C5C5C5;
  letter-spacing: 2.5px;
  font-size: 15px;
}

.icons {
  margin-top: 15px;
}

.icons > i {
  font-size: 42px;
  background: -webkit-linear-gradient(138deg, #ff8660 0%, #8000ff 99%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

#features h2 {
  margin-top: 7%;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #ff8660  0%, #d5491d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}

#features .card {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  display: flex;
  gap: 30px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#features .card:hover {
  border-color: #d5491d;
  box-shadow: none;
}

#features .card .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#features .card .info h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #ff8660  0%, #d5491d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

#features .card .info p {
  color: #C5C5C5;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

#features .featuresCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

#features .featuresCards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 350px;
  margin: 15px 35px;
}

#features .featuresCards .card .info i {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(180deg, #ff8660  0%, #d5491d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1.4rem;
}

#features .featuresCards .card .info h1 {
  text-align: center;
}

#features .featuresCards .card .info p {
  font-size: 1.1rem;
}

#projects h2 {
  margin-top: 7%;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #5BADFF   0%, #1373D1  100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}

#projects .card {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  display: flex;
  gap: 30px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#projects .card:hover {
  border-color: #1373D1;
  box-shadow: none;
}

#projects .card .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#projects .card .info h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #5BADFF  0%, #1373D1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

#projects .card .info p {
  color: #C5C5C5;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

#projects .projectsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

#projects .projectsCards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 350px;
  margin: 15px 35px;
}

#projects .projectsCards .card .info i {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(180deg, #5BADFF  0%, #1373D1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1.4rem;
}

#projects .projectsCards .card .info .links {
  display: flex;
  text-decoration: none;
}

#projects .projectsCards .card .info .links i {
  margin-top: 20px;
  margin-right: 20px;
}

#projects .projectsCards .card .info h1 {
  text-align: center;
}

#projects .projectsCards .card .info p {
  font-size: 1.1rem;
}

#experience h2 {
  margin-top: 7%;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #b366ff   0%, #8000ff  100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}

#experience .card {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  display: flex;
  gap: 30px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#experience .card:hover {
  border-color: #8000ff;
  box-shadow: none;
}

#experience .card .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#experience .card .info h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #b366ff  0%, #8000ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

#experience .card .info h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #b366ff  0%, #8000ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

#experience .card .info p {
  color: #C5C5C5;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

#experience .experienceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

#experience .experienceCards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 350px;
  margin: 15px 35px;
}

#experience .experienceCards .card .info i {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(180deg, #b366ff  0%, #8000ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1.4rem;
}

#experience .experienceCards .card .info .date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#experience .experienceCards .card .info h1 {
  text-align: center;
}

#experience .experienceCards .card .info p {
  font-size: 1.1rem;
}

#contact {
  margin-top: 7%;
  background-color: #222;
  color: #C5C5C5;
}

#contact h2 {
  margin-top: 2%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#contact ul {
  display: flex;
}

#contact ul li {
  list-style: none;
  padding: 0 20px;
}

#contact .about p {
  text-align: center;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

#contact p {
  margin-bottom: 10px;
}

#contact ul li a {
  text-decoration: none;
  color: #C5C5C5;
}